/* Basic reset and body styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: rgba(128, 128, 128, 0.3);
    --primary-hover: rgba(128, 128, 128, 0.5);
    --green: #2D8515;
    --red: #BA4949;
    --red-hover: #A44E4E;
    --cyan: #38858A;
    --blue: #397097;
}

body {
    font-family: 'Roboto', sans-serif;
    color: black;
}

/* Header */
header {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Pomodoro Timer */

.pomodoro-timer button.active:hover{
    background: var(--red-hover);
    transition: 0.2s;
}

.pomodoro-timer button:hover {
    background: var(--primary-hover);
    transition: 0.2s;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    width: auto;
    padding: 20px;
}

.pomodoro-timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.btn-container {
    display: flex;
    gap: 10px;
}

.btn-container button, .container-footer button {
    padding: 8px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: var(--primary);
}

.btn-container .active {
    background-color: var(--red);
    color: white;
}

.container-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.progress-bar {
    height: 180px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: conic-gradient(var(--red) 360deg, var(--primary) 0deg);
    border-radius: 50%;
    animation: pulse 3s infinite;
}

.progress-bar-inner {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 50%;
}

.progress-bar-inner h2 {
    font-weight: 900;
    font-size: 40px;
}

/* Tasks Sections */

.tasks-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 10px;
}

/* Task Input Form */
.task-input-form {
    width: 400px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 10px;
}

.form h2, .task-list h2{
    text-align: center;
    color: #333;
}

.form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form button {
    width: 100%;
    padding: 8px 12px;
    color: white;
    background-color: var(--red);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form button:hover {
    background-color: var(--red-hover);
    transition: 0.2s;
}

/* Task List */
.task-list {
    width: 400px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
}

/* Category */
.category {
    margin-bottom: 10px;
}

.category h3 {
    margin: 0;
    color: #333;
}

/* Task Item */
.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 5px;
    border-radius: 4px;
    margin-top: 5px;
}

.task button {
    color: white;
    background-color: var(--red);
    padding: 12px 6px;
    font-size: 0.8rem;
    border: none;
    border-radius: 5px;
}

.task button:hover {
    background-color: var(--red-hover);
    transition: 0.2s;
}
